*{
    background-color: hsl(43, 40%, 76%);
    font-family:'Times New Roman', Times, serif;
   
}
@media only screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        gap: 10px;
    }
  }





.two{ grid-column: 3;
    grid-row: 1 ;

}

.three{ grid-column: 1/2;
    grid-row: 1;

}

.four{ grid-column: 3;
    grid-row: 2;

}

.five{
    grid-column: 1/2;
    grid-row: 2;
}

img{
    width: 200px;
    border-style: double;
    border-color: black;
    border-width: 3px;
    border-radius: 50%;
    padding: 5px;
    
}

figure{
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    text-align: center;
}

.heading{
    font-family:'Courier New', Courier, monospace;
     

}

a{
    font-size: larger;
}

li{
    list-style-type: upper-roman;
    color: blue;
    
    background-size: 200px;
    list-style-image: url('smoking-pipe.png');

}

p{
    text-align: justify;
    margin: 3%;
}

footer{
    text-align: center;
    font-size: small;
    margin-bottom: 2cm;
    margin-left: 2cm;
    border-style: groove;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 100px;
}

