*{
    background-color: hsl(42, 76%, 77%);
    font-family:'Times New Roman', Times, serif
}

img{
    width: 200px;
    border-style: double;
    border-color: black;
    border-width: 3px;
    border-radius: 50%;
}

.heading{
    font-family:'Courier New', Courier, monospace
}

a{
    font-size: larger;
}



li{
    list-style-type: upper-roman;
    color: blue;
    
    background-size: 200px;
    list-style-image: url('smoking-pipe.png');

}


